.main{
	width: 100%;
	height: auto;
	margin-top: 1rem;
}
.head_img{
	width: 100%;
	height: 3.3rem;
}
.head_img img{
	width: 100%;
	height: 100%;
}
.main_btn{
	width: 100%;
	margin-top: .6rem;
	color: #666;
	font-size: .26rem;
	padding: 0 .3rem;
}
.apply_cond{
	width: 100%;
	margin-top: .42rem;
}

img{
	width: 100%;
	height: 100%;
}
.kf{
	width: 6.5rem;
	height: 6.5rem;
	margin-left: 0.5rem;
}